section#objectives {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  height: 1000px;
  grid-gap: 36px;

  background: hsla(163, 56%, 52%, 1);
  
  background: linear-gradient(180deg, hsla(163, 56%, 52%, 1) 0%, hsla(176, 54%, 40%, 1) 100%);
  
  background: -moz-linear-gradient(180deg, hsla(163, 56%, 52%, 1) 0%, hsla(176, 54%, 40%, 1) 100%);
  
  background: -webkit-linear-gradient(180deg, hsla(163, 56%, 52%, 1) 0%, hsla(176, 54%, 40%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9A2", endColorstr="#2F9C95", GradientType=1 );
}

section#objectives h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}
