section#tech {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 32px;
  align-items: center;
}
section#tech h2 {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: var(--main-color);
}

section#tech h2 .impact {
  color: var(--white);
  background-color: var(--main-color);
}

section#tech h3, section#tech h4 {
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  width: 1370px;
}

section#tech .app {
  text-transform: uppercase;
  color: var(--main-color);
}

section#tech .divider {
  width: 100%;
}

section#tech > div {
  display: flex;
  flex-direction: row;
  width: 1040px;
  grid-gap: 8px;

}

section#tech > div .susteinable {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 20px;
  grid-gap: 30px;
  
}

section#tech > div .susteinable img {
  max-width: 900px;
  height: 527px;
  object-fit: cover;
}

@media (max-width: 1280px) {
  section#tech > div .susteinable img {
    max-width: 700px;
  }
}



section#tech .phoneImg {
  max-width: 600px;
}

section#tech > div .susteinable .high-impact {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7rem;
  color: var(--white);
  background-color: var(--main-color);
  padding: 5px;
}

section#tech .techDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
